.HeaderHome .container {
    margin: 0 auto;
    width: 100%;
}

.HeaderHome .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1.5rem 0;
    /* max-width: 1024px; */
    width: 90%;
}



.HeaderHome .container > .logo {
    padding: 0.8rem;
}
.HeaderHome .container > .logo a {
    color: #000;
    display: block;
    outline: none;
}
.HeaderHome .container > .logo a img {
    height: 18px;
}


.HeaderHome .container > .main-nav {
}
.HeaderHome .container > .main-nav ul {
    margin: 0;
    display: flex;
}
.HeaderHome .container > .main-nav ul li {
    list-style: none;
}
.HeaderHome .container > .main-nav ul li a {
    color: #00308F;
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 1rem;
    text-transform: uppercase;
}
.HeaderHome .container > .main-nav ul li a span {
    padding: 1.2rem 2rem;
}

.HeaderHome .container > .main-nav .login span {
}

.HeaderHome .container > .main-nav .signIn span {
    border-radius: 30px;
}



/* GENERAL */

.btn-grad {background-image: linear-gradient(to right, #00c6ff 0%, #0072ff  51%, #00c6ff  100%)}
.btn-grad {
   transition: 0.5s;
   background-size: 200% auto;
   color: #FFF;
   box-shadow: 0 0 20px #eee;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   text-decoration: none;
 }

